fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
argon2-cffi
python-multipart
email-validator
pymongo
dnspython
stripe
httpx
